[submodule "deps/quickjs"]
	path = deps/quickjs
	url = https://github.com/imzlh/quickjs-cjs
[submodule "deps/mimalloc"]
	path = deps/mimalloc
	url = https://github.com/microsoft/mimalloc
[submodule "deps/libuv"]
	path = deps/libuv
	url = https://github.com/libuv/libuv
[submodule "deps/wamr"]
	path = deps/wamr
	url = https://github.com/bytecodealliance/wasm-micro-runtime
